* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

:root {
    --main-color-b: #08A6E4;
    --main-color-g: #55DFB4;
    --main-color-p: #FB3B64;
    --secondary-color-g: #707070;
    --secondary-color-gl: #95989A;
    --secondary-color-gll: #A5A5A5;
}

.all-content {
    max-width: 100%;
    margin: 0 auto;
    background: white;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

/*FIRST SECTION*/

.page-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
}

.page-nav {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    height: 70px;
    margin-bottom: 138px;
}

.page-logo {
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    color: var(--main-color-b);
    text-decoration: none;
}

.page-nav-list {
    display: flex;
}

.page-nav-list li {
    list-style-type: none;
    margin-left: 90px;
    padding-top: 28px;
    padding-bottom: 27px;
    transition: 0.3s;
}

.page-nav-list li:hover {
    border: none;
    border-bottom: 3px solid var(--main-color-b);
}

.page-nav-list a {
    padding-top: 28px;
    padding-bottom: 27px;
    font: Bold 11px/15px Open Sans;
    color: var(--secondary-color-gll);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page-nav-list a:hover {
    color: #000;
    font-weight: bolder;
}

/*!*SECOND SECTION *!*/

.banner {
    background: url(../assets/Background.png) no-repeat center bottom/contain;
}

.banner .container {
    height: 704px;
    margin-top: calc(208px - 70px);
    text-align: center;
}

.banner-title {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 20px;
}

.banner-text {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 38px;
}

.banner-btn {
    height: 67px;
    width: 440px;
    padding: 23px 157px;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: var(--main-color-b);
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px #07ACE629;
    transition: 0.3s;
}

.banner-btn:active {
    transform: translateY(1px) translateX(0px);
}

.banner-btn:hover {
    background-color: #0893CE;
}

/*THIRD SECTION*/

.statistics {
    height: 531px;
    text-align: center;
    box-shadow: 0 -5px 80px #00000029;
}

.statistics-title {
    font-size: 36px;
    padding: 106px 0 101px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.statistics-info {
    display: flex;
    justify-content: space-evenly;
}

.statistics-numbers-box {
    height: 160px;
    width: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.statistics-numbers-box:nth-of-type(2) {
    height: 180px;
}

.statistics-icon {
    height: 63px;
    width: 63px;
    border-radius: 50%;
}

.statistics-numbers-box:first-of-type::before {
    content: url("../assets/Person.svg");
    display: block;
    position: absolute;
    right: 40px;
}

.statistics-numbers-box:nth-of-type(2)::before {
    content: url("../assets/Eye.svg");
    display: block;
    position: absolute;
    right: 35px;
    top: 15px;
}

.statistics-numbers-box:last-of-type::before {
    content: url("../assets/Catalog.svg");
    display: block;
    position: absolute;
    right: 38px;
    top: 5px;
}

.statistics-numbers-box:first-of-type .statistics-icon {
    background: var(--main-color-p);
}

.statistics-numbers-box:nth-of-type(2) .statistics-icon {
    background: var(--main-color-b);
}

.statistics-numbers-box:last-of-type .statistics-icon {
    background: var(--main-color-g);
}

.statistics-number-box-title {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 6px;
}

.statistics-text {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: block;
    color: var(--secondary-color-gl);
}

/*FORTH SECTION*/

.benefits {
    background: #F7F7F7;
    height: 1395px;
}

.benefits .container {
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefits-box {
    background: white;
    height: 370px;
    width: 1124px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border: 1px solid #E8E9ED;
}

.benefits-box img {
    display: block;
}

.benefits-box .benefits-box-text h2 {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 30px;
}

.benefits-box .benefits-box-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.benefits-box:nth-of-type(1) .benefits-box-text {
    width: 416px;
    height: 182px;
    position: relative;
}

.benefits-box:nth-of-type(1) .benefits-box-text::after {
    content: "";
    display: block;
    width: 340px;
    height: 4px;
    top: 180px;
    background: var(--main-color-p);
    position: absolute;
}

.benefits-box:nth-of-type(1) img {
    z-index: 2;
    margin-top: 80px;
}

.benefits-box:nth-of-type(1)::after {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    background: var(--main-color-p);
    border-radius: 41px;
    transform: rotate(45deg);
    top: 80px;
    right: 100px;
}

.benefits-box:nth-of-type(2) {
    margin: 37px 0;
}

.benefits-box:nth-of-type(2) .benefits-box-text {
    width: 416px;
    height: 224px;
    position: relative;
}

.benefits-box:nth-of-type(2) .benefits-box-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 340px;
    height: 4px;
    background: var(--main-color-b);
    top: 220px;
}

.benefits-box:nth-of-type(2) img {
    z-index: 2;
    padding-top: 30px;
}

.benefits-box:nth-of-type(2)::after {
    content: "";
    display: block;
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: var(--main-color-b);
    transform: rotate(45deg);
    top: 12px;
    left: 70px;
}

.benefits-box:nth-of-type(3) {
    background: transparent;
    height: 370px;
    width: 1124px;
}

.benefits-box:nth-of-type(3) .box-with-only-text {
    width: 623px;
    height: 370px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-right: 60px;
}

.benefits-box:nth-of-type(3) .benefits-box-text {
    width: 554px;
    height: 224px;
}

.benefits-box:nth-of-type(3) .benefits-box-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 330px;
    height: 4px;
    background: var(--main-color-g);
    top: 300px;
}

.box-with-img {
    width: 440px;
    height: 370px;
    background: var(--main-color-g);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.box-with-img::after {
    content: url("../images/Trumpet.png");
}

/*FIFTH SECTION*/

.pricing {
    padding-top: 106px;
}

.pricing .container {
    height: 610px;
    text-align: center;
}

.pricing-title {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 71px;
}

.pricing-boxes {
    display: flex;
    justify-content: space-around;
}

.pricing-box {
    width: 372px;
    height: 461px;
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.pricing-box-title {
    font-size: 20px;
    font-weight: 700;
    padding-top: 38px;
}

.price {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 46px;
}

.limited-offer {
    font-size: 12px;
    font-weight: 700;
}

.pricing-box-list {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
}

.pricing-box-list li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    list-style: none;
}

.pricing-box-button {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    position: absolute;
    bottom: -24px;
    left: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-box-button:active {
    transform: translateY(1px) translateX(0px);
}

.pricing-box-button a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding: 150px 50px;
}

.pricing-box:first-of-type {
    border-color: var(--main-color-p);
}

.pricing-box:first-of-type .price {
    color: var(--main-color-p);
}

.pricing-box:first-of-type .pricing-box-button {
    background: var(--main-color-p);
    transition: 0.3s;
}

.pricing-box:first-of-type .pricing-box-button:hover {
    background-color: #d33658;
}

.pricing-box:nth-of-type(2) {
    border-color: var(--main-color-b);
    transform: scale(1.1);
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing-box:nth-of-type(2) .price {
    color: var(--main-color-b);
}

.pricing-box:nth-of-type(2) .pricing-box-button {
    background: var(--main-color-b);
    box-shadow: 5px 10px 14px #07ACE629;
    transition: 0.3s;
}

.pricing-box:nth-of-type(2) .pricing-box-button:hover {
    background-color: #0893CE;
}

.pricing-box:last-of-type {
    border-color: var(--main-color-g);
}

.pricing-box:last-of-type .price {
    color: var(--main-color-g);
}

.pricing-box:last-of-type .pricing-box-button {
    background: var(--main-color-g);
    transition: 0.3s;
}

.pricing-box:last-of-type .pricing-box-button:hover {
    background-color: #52C9A0;
}

.pricing-box-list li::before {
    content: url("../images/Ckechmark-1.svg");
    display: inline-block;
    margin-right: 13px;
}

.pricing-box:first-of-type .pricing-box-list li:nth-of-type(4)::before,
.pricing-box:first-of-type .pricing-box-list li:nth-of-type(5)::before,
.pricing-box:nth-of-type(2) .pricing-box-list li:last-of-type::before {
    content: url("../images/Close.svg");
    display: inline-block;
    margin-right: 13px;
}

/*SIXTH SECTION*/

.form .container {
    width: 896px;
    margin-top: 183px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.left-form {
    width: 350px;
}

.left-form-title {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 49px;
    padding-bottom: 22px;
}

.left-form-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 42px;
}

.form-contacts {
    display: flex;
}

.form-mail {
    color: var(--secondary-color-gll);
    font-family: "Open Sans", sans-serif;
    display: flex;
}

.form-mail::before {
    content: url("../images/Mail Icon.svg");
    padding-right: 10px;
    display: inline-block;
}

.form-number {
    color: var(--secondary-color-gll);
    font-family: "Open Sans", sans-serif;
    display: flex;
}

.form-number::before {
    content: url("../images/Phone Icon.svg");
    padding: 0 10px 0 24px;
    display: inline-block;

}

.right-form {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 157px;
    width: 440px;
    margin-bottom: 30px;
}

.right-form-input label {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color-b);
    letter-spacing: 3.28px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.right-form-input input {
    border: none;
    border-bottom: 1px solid var(--secondary-color-gl);
    width: 440px;
    height: 60px;
    font-size: 30px;
    font-family: OpenSans, sans-serif;
    color: var(--secondary-color-g);
    margin-bottom: 30px;
    display: block;
}

.form-agreement {
    padding-top: 10px;
    display: flex;
}

.form-agreement-text {
    font-family: OpenSans, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: var(--secondary-color-g);
    position: relative;
    padding-left: 25px;
}

.form-agreement input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

.form-agreement input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border: 1px solid var(--secondary-color-gl);
    border-radius: 4px;
    background-color: white;
}

.form-agreement input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: solid #08A6E4;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 7px;
}

.form-button {
    width: 226px;
    height: 57px;
    background: var(--main-color-b);
    border: none;
    border-radius: 35px;
    margin-top: 20px;
    box-shadow: 5px 10px 14px #07ACE629;
}

.form-button:active {
    transform: translateY(1px) translateX(0px);
}

.form-button:hover {
    background-color: #0893CE;
}

.form-button a {
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

/*SEVENTH SECTION*/

.footer .container {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
    margin-top: 60px;
}

.footer-info a {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    color: var(--main-color-b);
    text-decoration: none;
}

.footer-info p {
    font-family: OpenSans, sans-serif;
    font-size: 11px;
    color: var(--secondary-color-gll);
    padding-top: 7px;
}

.footer-sm li {
    display: inline-block;
    padding: 0 10px;
}

@media (max-width: 1370px) {
    .page-nav-container {
        margin: 0 40px;
    }

    .footer-info {
        margin-left: 40px;
    }

    .footer-sm {
        margin-right: 40px;
    }
}

@media (max-width: 1200px) {
    .page-nav-list li {
        margin-left: 50px;
    }

    .banner .container {
        height: 600px;
    }

    .benefits-box, .benefits-box:nth-of-type(3) {
        width: 1000px;
    }

    .benefits-box:nth-of-type(3) .box-with-only-text {
        margin-right: 30px;
    }

    .benefits-box:nth-of-type(3) .benefits-box-text {
        width: 454px;
    }

    .pricing-box {
        width: 330px;
    }

    .pricing-box-button {
        left: 90px;
    }
}

@media (max-width: 1070px) {
    .banner .container {
        height: 500px;
    }

    .pricing-box {
        width: 300px;
    }

    .pricing-box-button {
        left: 80px;
    }
}

@media (max-width: 990px) {
    .benefits, .benefits .container {
        height: 1300px;
    }

    .benefits-box:nth-of-type(3) .box-with-only-text {
        margin-right: 15px;
    }

    .pricing {
        padding-top: 70px;
    }

    .pricing .container {
        height: 1150px;
        text-align: center;
    }

    .pricing-title {
        font-family: Raleway, sans-serif;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 50px;
    }

    .pricing-boxes {
        display: inline-block;
    }

    .pricing-box {
        width: 383px;
        height: 320px;
        border: 1px solid black;
        margin-bottom: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .pricing-box-title {
        padding-top: 0;
    }

    .pricing-box-list {
        height: 300px;
    }

    .pricing-box-button {
        left: 115px;
    }

    .form .container {
        width: 840px;
    }

    .right-form, .right-form-input, .right-form-input input {
        width: 400px;
    }
}

@media (max-width: 900px) {
    .banner .container {
        height: 460px;
        margin-top: calc(208px - 90px);
    }

    .benefits {
        height: 1800px;
    }

    .benefits .container {
        height: 1800px;
        align-items: center;
    }

    .benefits-box {
        width: 500px;
        height: 560px;
        display: inline-block;
    }

    .benefits-box img {
        display: block;
        position: absolute;
        top: 0;
        right: 60px;
    }

    .benefits-box:nth-of-type(1) .benefits-box-text {
        width: 400px;
        height: 182px;
        position: absolute;
        top: 350px;
        left: 50px;
    }

    .benefits-box:nth-of-type(1)::after {
        top: 50px;
        right: 70px;
    }

    .benefits-box .benefits-box-text h2 {
        margin-bottom: 40px;
    }

    .benefits-box:nth-of-type(2) {
        margin: 37px 0;
    }

    .benefits-box:nth-of-type(2)::after {
        position: absolute;
        width: 220px;
        height: 220px;
        top: 25px;
        left: 120px;
    }

    .benefits-box:nth-of-type(2) img {
        display: block;
        position: absolute;
        height: 300px;
        top: 0;
        right: 60px;
        padding-top: 30px;
    }

    .benefits-box:nth-of-type(2) .benefits-box-text {
        width: 400px;
        height: 182px;
        position: absolute;
        top: 320px;
        left: 50px;
    }

    .benefits-box:nth-of-type(1) .benefits-box-text::after,
    .benefits-box:nth-of-type(2) .benefits-box-text::after,
    .benefits-box:nth-of-type(3) .benefits-box-text::after {
        display: none;
    }

    .benefits-box:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        background: white;
        width: 500px;
        height: 500px;
    }

    .benefits-box:nth-of-type(3) .box-with-only-text {
        width: 400px;
        height: 300px;
        background: white;
        margin-right: 0;
    }

    .benefits-box:nth-of-type(3) .benefits-box-text {
        width: 500px;
        height: 200px;
    }

    .box-with-img {
        width: 500px;
        height: 250px;
        padding-top: 40px;
    }

    .form .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form .container, .right-form {
        width: 400px;
    }

    .left-form {
        margin-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .page-nav {
        margin-bottom: 0;
    }

    .banner .container {
        height: 400px;
        margin-top: calc(208px - 100px);
    }

    .statistics {
        height: 875px;
        display: flex;
        justify-content: center;
    }

    .statistics .container {
        width: 400px;
    }

    .statistics-title {
        padding: 70px 0 50px 0;
    }

    .statistics-info {
        flex-direction: column;
        align-items: center;
    }

    .statistics-numbers-box {
        margin-bottom: 50px;
    }

    .statistics-icon {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .statistics-numbers-box:first-of-type::before {
        top: 15px;
    }

    .statistics-numbers-box:nth-of-type(2)::before {
        top: 23px;
    }

    .statistics-numbers-box:last-of-type::before {
        top: 20px;
    }

    .banner-btn {
        height: 67px;
        width: 280px;
        padding: 22px 75px;
    }
}

@media (max-width: 450px) {
    .banner .container {
        height: 400px;
        margin-top: calc(208px - 130px);
    }

    .banner-text {
        align-items: center;
        margin: 0 90px 30px 90px;
        line-height: 1.5rem;
    }

    .statistics .container {
        width: 300px;
    }

    .statistics-title {
        padding: 60px 0 40px 0;
    }

    .benefits, .benefits .container {
        height: 1400px;
    }

    .benefits-box {
        width: 315px;
        height: 400px;
    }

    .benefits-box img {
        height: 110px;
        right: 60px;
    }

    .benefits-box:nth-of-type(1) img {
        margin-top: 50px;
    }

    .benefits-box:nth-of-type(1) .benefits-box-text {
        width: 270px;
        height: 85px;
        top: 180px;
        left: 30px;
    }

    .benefits-box:nth-of-type(1)::after {
        top: 30px;
        right: 55px;
        width: 100px;
        height: 100px;
    }

    .benefits-box:nth-of-type(2) {
        margin: 25px 0;
    }

    .benefits-box:nth-of-type(2)::after {
        width: 110px;
        height: 110px;
        left: 100px;
    }

    .benefits-box:nth-of-type(2) img {
        height: 150px;
    }

    .benefits-box:nth-of-type(2) .benefits-box-text {
        width: 270px;
        height: 85px;
        top: 160px;
        left: 30px;
    }

    .benefits-box:nth-of-type(2) .benefits-box-text h2 {
        margin-bottom: 25px;
    }

    .benefits-box:nth-of-type(3) {
        width: 315px;
        height: 500px;
    }

    .benefits-box:nth-of-type(3) .box-with-only-text {
        align-items: flex-start;
        width: 270px;
        height: 350px;
    }

    .benefits-box:nth-of-type(3) .box-with-only-text h2 {
        margin: 20px 0 30px 0;
    }

    .box-with-img {
        width: 315px;
        height: 180px;
    }

    .pricing {
        padding-top: 50px;
    }

    .pricing .container {
        height: 850px;
    }

    .pricing-box {
        width: 293px;
        height: 251px;
    }

    .pricing-title {
        margin-bottom: 20px;
    }

    .pricing-box-list {
        height: 270px;
    }

    .pricing-box-button {
        left: 73px;
    }

    .form .container, .left-form, .right-form, .right-form-input, .right-form-input input {
        width: 280px;
    }

    .left-form {
        margin-bottom: 50px;
    }

    .left-form-title {
        font-size: 40px;
    }

    .form-contacts {
        flex-direction: column;
    }

    .form-number::before {
        padding: 0 10px 0 0;
    }

    .footer-info {
        margin-left: 20px;
    }

    .footer-sm {
        margin-right: 20px;
    }
}